{% from 'macros/icon.njk' import icon, svg with context %}

<footer class="site-footer" role="contentinfo">
  <nav class="site-footer__primary-nav auto-grid" aria-label="footer navigation">
    <div class="site-footer__primary-nav-content">
      <a href="/" class="site-footer__brand brand">
        {{ svg('../../images/logo.svg', {label: 'onmee.vn'}) }}
      </a>
      <p class="text-size-0">
        {{ 'i18n.footer.mission' | i18n(locale) }}
      </p>
    </div>
    <div class="site-footer__primary-nav-links auto-grid">
      <div>
        <h3 class="text-size-2 color-mid-text">Program</h3>
        <ul class="site-footer__linkbox-list" role="list">
          <li>
            <a href="/learn/" data-category="Site-Wide Custom Events" data-label="Footer: Learn">
              All Topics
            </a>
          </li>
          <li>
            <a href="/about/" data-category="Site-Wide Custom Events" data-label="Footer: About">
              About
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="site-footer__brand-nav repel" aria-label="onmee.vn">
    <ul class="cluster" role="list">
      <li>
        <a href="https://onmee.vn" data-category="Site-Wide Custom Events" data-label="Footer Onmee Link">
          onmee.vn
        </a>
      </li>
    </ul>
    <div class="cluster">
      {% include "partials/standard-theme-toggle.njk" %}
      <web-language-select current="{{ lang }}"></web-language-select>
    </div>
  </nav>
  <nav class="site-footer__misc-links" aria-label="terms and policies">
    <ul class="cluster" role="list">
      <li>
        <a href="/about/" data-category="Site-Wide Custom Events"
          data-label="Footer About link">
          About this program
        </a>
      </li>
    </ul>
  </nav>
  <p class="gap-top-size-2 text-size-0">
    Except as otherwise noted, the content of this page is licensed
    under the
    <a href="https://creativecommons.org/licenses/by/4.0/">
    Creative Commons Attribution 4.0 License</a>,
    and code samples are licensed under the
    <a href="https://www.apache.org/licenses/LICENSE-2.0">
    Apache 2.0 License</a>.
  </p>
</footer>
